%head
  :javascript
    window.globalAuth = {"storageName": "globalAuth", "token" : "#{@token}", "referrer" : "http://localhost:3000", "nonce" : "#{@nonce}"}
    var parentWindow = window.parent;
    if (parentWindow !== window) {
        var storage = localStorage.getItem(globalAuth["storageName"]);
        if (globalAuth["token"] != "" && storage == null) {
            localStorage.setItem(globalAuth["storageName"], globalAuth["token"])
            storage = globalAuth["token"];
        }
        if(storage != null) {
            parentWindow.postMessage(JSON.stringify({token: globalAuth["token"], nonce: globalAuth["nonce"]}), globalAuth["referrer"]);
        }else{
            parentWindow.postMessage('', globalAuth["referrer"]);
        }
    }