%head
  %title About StackAuth
  %style
    = "body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; background-color: #E4F8FE; } a, a:visited { color: #842829; text-decoration: none; } .even { background: #EFFBE5 } .odd { background: #FFFFFF } .container { width: 960px; margin: 10px auto; }"
%body
  %div.container
    %h1
      = "This is a domain for centralized services across the entire"
      %a{:href => "http://stackexchange.com/"} Deekau Company Network
    %div
      %p
        = "In addition to "
        %b site enumeration
        = "for the"
        %a{:href => "http://stackapps.com/"} Deekau Sites
        = ", DeekauAuth also serves as the storage domain for our"
        %b global authentication
        = "scheme."
      %p
        = "Due to the unreliability of third-party cookies in modern browsers, our scheme uses HTML 5's "
        %a{:href => "http://dev.w3.org/html5/webstorage/"} localStorage
        = "to store login credentials under the Deekau domain. Browsers supported by "
        %b global authentication:
        = "IE8+, Chrome 4+, Safari 4+, FireFox 3.6+, Opera 10.61+."