<div class="wrap">

  <h2>Identity request from <%= checkid_request.trust_root%></h2>

  <p><strong>http://localhost:3001/consumer</strong> requires your authentication.</p>


  <form accept-charset="UTF-8" action="<%= complete_path%>" class="new_site" id="new_site" method="post">
    <div>

      <input class="space" name="temporary" type="submit" value="Approve this request">
      <input name="cancel" type="submit" value="Cancel this request">
    </div>

  </form>
<%= @profiles%>
</div>