<!DOCTYPE html>
<html>
<head>
  <title>SsoServer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
<% if flash[:notice] %>
    <div class="notice"><%=simple_format h(flash[:notice]) %></div>
<% end %>
<% if flash[:alert] %>
    <div class="error"><%=simple_format h(flash[:alert]) %></div>
<% end %>

<%= yield %>
</body>
</html>
