<%= form_for @user, :url => '/user/update', :html => {:multipart => true} do |f| %>
    <p>
      <label>My Avatar</label>
      <%= image_tag(@user.image_url) if @user.image? %>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
    </p>
    <div><%= f.submit "Update" %></div>
<% end %>

<script type="text/javascript" charset="utf-8">
    $(function () {
        $('#fileupload').fileupload({
            dataType: 'json',
            maxNumberOfFiles: 1,
            progress: function (e, data) {

            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .bar').css(
                        'width',
                        progress + '%'
                );
            },
            add: function (e, data) {
                data.context = $('<div><button class="upload">Upload</button><button class="cancel">Cancel</button></div>').appendTo(document.body);
                data.context.children('.upload').click(function (e) {
                            //$(this).replaceWith($('<p/>').text('Uploading...'));
                            var xhr = data.submit();
                            data.context.data('data', {jqXHR: xhr});
                            jQuery.data(data.context, "jqXHR", xhr);
                        })
                data.context.children('.cancel').click(function(e) {
                            var local_data = data.context.data('data') || {};
                            if (!local_data.jqXHR) {
                                local_data.errorThrown = 'abort';
                                this._trigger('fail', e, data);
                            } else {
                                local_data.jqXHR.abort();
                            }
                        });
            },
            done: function (e, data) {

            },
            fail: function (e, data) {
                console.log(data)
            },
            stop: function (e, data) {

            }
        });
    });
</script>
