<% content_for :head do %>
    <% root = request.base_url%>
    <link rel="openid2.provider" href="<%= root%>/openid/provider">
    <link rel="openid2.local_id" href="<%= identifier(@account)%>">
<% end %>
<h2><%=h @account.username %></h2>
<p>OpenID: <%= identifier(@account) %></p>

<%= render :partial => 'accounts/hcard'%>